@using System.Reflection.Metadata
@using Markdig
@using System.Text.RegularExpressions
@inject HttpClient HttpClient
@inject IJSRuntime JS


<MudText Class="pl-4 pt-4" Typo="Typo.h6">@Title</MudText>
<MudText Class="pl-4 pb-4" Typo="Typo.body2">@Created.ToString("D")</MudText>
<br/>
<MudDivider />
<div class="py-4 markdown">
    @((MarkupString)HtmlContent)
</div>

@code {

    [Parameter]
    public required string Title { get; init; }

    [Parameter]
    public required string HtmlContent { get; init; }

    [Parameter]
    public required DateTime Created { get; set; }
}
