.markdown ul {
    display: block;
    padding: revert;
    list-style: disc;
    margin-left: 32px;
}

.markdown a {
    text-decoration: underline;
}

.markdown h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}